[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "cpptoml"]
	path = cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
